page-sliding {
  
    .list-md ion-item-options {
        border-bottom: 0px;
    }
    .item-md {
        font-size: unset;
    }
    .label-md {
        margin: 16px 8px 0px 0;
    }
    .list-ios ion-item-options {
        border-bottom: 0px;
    }
    .item-ios {
        font-size: unset;
    }
    .label-ios {
        margin: 16px 8px 0px 0;
    }
}