// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@-webkit-keyframes slideIn {
    0% {
      -webkit-transform: translate3d(-100%,0,0);
    }
  
    50% {
      -webkit-transform: translate3d(10%,0,0);
    }
  
    100% {
      -webkit-transform: translate3d(0,0,0);
    }
  }
  
  .slide-in {
     -webkit-animation: slideIn ease-in 1; 
    animation: slideIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 750ms;
    animation-duration: 750ms;
  }



  ion-grid.cardON {
    background-color: #4284ff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    max-width: 400px !important;
    height: 220px;
    .msg {
        background-color: #679cff;
    }
}
ion-grid.cardOFF {
    background-color: #bbb7b7;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    max-width: 400px !important;
    height: 220px;
    .msg {
        background-color: #d4d4d4;
    }
}
.msg {
    float: left;
    padding: 5px;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 0.8em;
    color: white;
    border-radius: 5px;
}
.number {
    color: white;
    font-size: 1.5em;
    line-height: 2em;
    text-align: center;
}
.digits {
    padding-right: 5%;
    padding-left: 5%;
}
.date {
    color: white;
    font-size: 0.8em;
    margin: 5%;
}
.bank {
    text-align: right;
    color: white;
    font-size: 0.8em;
    margin: 5%;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 4px;
}

.ON {
    height: 8px;
    width: 8px;
    background-color: #8de278;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
}
.OFF {
    height: 8px;
    width: 8px;
    background-color: #fb5f5f;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
}
.brand {
    max-width: 40%;
    float: right;
}
.chip {
    img {
        max-width: 50px;
        padding-top: 5%;
        border-radius: 10% !important;
        overflow: hidden;
    }
}
ion-icon#power {
    font-size: 2em;
}

